numpy
torch
toml
aiohttp
Pillow
spandrel
tqdm
numexpr
toolz
ultralytics
rembg
onnxruntime
psd_tools
scikit-image
einops
scipy
openai
pymatting
transparent-background
torchvision
transformers
pandas
color_matcher
decord
opencv-python
matplotlib
pydub
scipy
# git+https://github.com/deepseek-ai/Janus.git
