numpy
torch
toml
aiohttp
Pillow
spandrel
tqdm
numexpr
toolz
ultralytics
rembg
onnxruntime
psd_tools
scikit-image
einops
scipy
openai
pymatting
transparent-background
torchvision
transformers
pandas
decord
matplotlib
pydub
scipy
flet
sortedcontainers
gguf>=0.13.0
sentencepiece
protobuf
diffusers
openpyxl
pyyaml>=6.0  
watchdog>=3.0.0
filelock>=3.12.0
opencv-python




